black
boto3
botocore
certifi
charset-normalizer
click
idna
jmespath
mypy-extensions
numpy
packaging
pandas
pathspec
pip-chill
platformdirs
python-dateutil
python-dotenv
pytz
requests
s3transfer
six
tomli
typing_extensions
tzdata
urllib3
